$white-color: #FFFFFF;
$black-color: #000000;
$border-color: #757575;
$background-color: #FAFAFA;

:root {
    --white-color: #{$white-color};
    --black-color: #{$black-color};
    --border-color: #{$border-color};
    --background-color: #{$background-color};
}
