<div class="about-us">
    <div class="content-wrapper">
        <h2>About Us</h2>
        <p>
            If you looking a logistics company serving United Kingdom and Europe – now you found it! KCharles Haulage
            it is a haulage company with a total commitment to professionalism, development and customer satisfaction.
            Providing of high quality transport service is at the forefront of our company, with a qualified team of employees
            who are involved in providing a reliable, safely and timely services to our customers.
        </p>
    </div>
</div>
<div class="our-service">
    <div class="content-wrapper">
        <h2>Our Services</h2>
        <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayout.xs="column wrap" fxLayoutGap="50px">
            <div class="our-service__preview">
                <img src="/../assets/images/service_1.jpg" width="273" height="205" alt="service_1" decoding="async">
                <span>Lorem Impuls</span>
                <p>Cargo King  success of our business values has allowed us to expand offering into a number of  industries.</p>
                <div class="our-service__preview-more">
                    <span>Read More</span>
                    <mat-icon svgIcon="arrow-right"></mat-icon>
                </div>
            </div>
            <div class="our-service__preview">
                <img src="/../assets/images/service_2.jpg" width="273" height="205" alt="service_2" decoding="async">
                <span>Lorem Impuls</span>
                <p>No two companies are the same. Their suppliers are located in different parts of the world.</p>
                <div class="our-service__preview-more">
                    <span>Read More</span>
                    <mat-icon svgIcon="arrow-right"></mat-icon>
                </div>
            </div>
            <div class="our-service__preview">
                <img src="/../assets/images/service_3.jpg" width="273" height="205" alt="service_3" decoding="async">
                <span>Lorem Impuls</span>
                <p>We work with over 100 subcontradors. Our reliable service proves that we take haulage seriously.</p>
                <div class="our-service__preview-more">
                    <span>Read More</span>
                    <mat-icon svgIcon="arrow-right"></mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="advanced-capabilities">
    <div class="content-wrapper">
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
            <div class="advanced-capabilities__main">
                <h2>Simple design, advanced capabilities</h2>
                <p>
                    Take control of your business with an app that makes booking and managing loads easier than ever. Operate
                    more efficiently on your routes, on your terms.
                </p>
            </div>
            <div class="advanced-capabilities__picture">
                <img src="/../assets/images/map-preview.png" width="273" height="205" alt="map-preview" decoding="async">
                <img src="/../assets/images/list-preview.png" width="273" height="205" alt="list-preview" decoding="async">
            </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between" class="advanced-capabilities__item">
            <div class="advanced-capabilities__info">
                <mat-icon svgIcon="map-pin-user-fill"></mat-icon>
                <h3>Freight at your fingertips</h3>
                <p>Our streamlined workflow and 24/7 support keeps your business rolling, quickly and efficiently.</p>
            </div>
            <div class="advanced-capabilities__info">
                <mat-icon svgIcon="route-fill"></mat-icon>
                <h3>The KCharles for freight</h3>
                <p>KCharles technology has revolutionized the way people move. Now we’re doing the same for the freight industry.</p>
            </div>
        </div>
    </div>
</div>
