<header fxLayout="row wrap" fxLayoutAlign="space-around" fxLayout.xs="column wrap" class="header">
	<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="25px">
		<a href="#">
			<mat-icon class="main-logo" svgIcon="main-logo"></mat-icon>
		</a>
		<nav>
			<ul fxLayout="row" fxLayoutGap="30px">
				<li>Home</li>
				<li>Service</li>
				<li>Contact</li>
			</ul> 
		</nav>
	</div>
	<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayout.xs="column wrap" fxLayoutGap="25px">
		<span>
			<a href="tel:+44 20 3286 6969">+44 20 3286 696</a>
		</span>
		<span>
			<a href="mailto:cargo@kcharles.co.uk">cargo@kcharles.co.uk</a>
		</span>
			<mat-icon svgIcon="arrow"></mat-icon>
		<span>
			<mat-icon svgIcon="globe"></mat-icon>
			<mat-icon svgIcon="language"></mat-icon>
		</span>
	</div>
</header>
<main>
	<app-latest-loads></app-latest-loads>
	<app-about-us></app-about-us>
	<app-partner></app-partner>
	<app-feedback></app-feedback>
</main>
<footer>
	<div class="footer__reducer">
		<div class="content-wrapper">
			<div class="footer__nav" fxLayout="row wrap" fxLayoutAlign="space-between">
				<div>
					<nav>
						<ul fxLayout="row" fxLayoutGap="30px">
							<li>About us</li>
							<li>Contact</li>
						</ul> 
					</nav>
				</div>
				<div fxLayout="column">
					<p>K Charles Haulage LTD. 1000 Great West Rd.</p>
					<p>Brentford TW8 9HH, UK VAT: GB313177820</p>
				</div>
			</div>
			<div class="permissions">
				<p>Copyright © 2020 K CHARLES HAULAGE LTD. All rights reserved.</p>
			</div>
		</div>
	</div>
</footer>
