<div class="advanced-feature">
    <div class="content-wrapper">
        <h2>Smarter shipping with advanced features</h2>
        <p>
            Instantly expand your capacity, while supporting your operations through 24/7 
            customer service and automated support tools.
        </p>
    </div>
</div>
<div class="partner">
    <div class="content-wrapper">
        <div class="partner__info">
            <h2>Why Should You Partner With Us</h2>
            <p>
                During this challenging time, Cargo King is committed to the safety and well-being
                of carriers and their drivers, who keep freight moving and essential supplies stocked.
            </p>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between" class="partner__type">
            <div class="partner__type-content">
                <mat-icon svgIcon="award-fill"></mat-icon>
                <h3>PROFESSIONAL</h3>
                <p>We carefully scrutinise your particular requirements.</p>
            </div>
            <div class="partner__type-content">
                <mat-icon svgIcon="global-fill"></mat-icon>
                <h3>OUR SERVICE</h3>
                <p>We’ve been solving logistics problems since 2009. </p>
            </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between" class="partner__type">
            <div class="partner__type-content">
                <mat-icon svgIcon="map-pin-time-fill"></mat-icon>
                <h3>ON TIME</h3>
                <p>Underlined by our values, dedication to providing great customer service.</p>
            </div>
            <div class="partner__type-content">
                <mat-icon svgIcon="service-fill"></mat-icon>
                <h3>RELIABLE</h3>
                <p>We thrive on challenges and we put our heart and soul into everything we do</p>
            </div>
        </div>
    </div>
</div>
<div class="our-team">
    <div class="content-wrapper">
        <h2>Our Team</h2>
        <p>
            Our team is built with skilled, highly trained and experienced group of professionals, who all exhibit outstanding
            leadership skills and have a wide variety of transferable skills acquired in a variety of industries and disciplines.
            Together, they built a team that is the perfect combination of expertise and capability, and they will make all the efforts
            required to ensure the success of this endeavour and recognize our short and long-term goals.
        </p>

        <div fxLayout="row wrap">
            <swiper
            [scrollbar]="{ draggable: true }"
            [breakpoints]="breakpoints"
            >
                <ng-template swiperSlide>
                    <div class="swiper-item">
                        <img src="/../assets/icons/transport-manager-1.svg" alt="transport-manager-1" decoding="async">
                        <div class="transport-manager__info">
                            <span>Transport manager</span>
                            <span>
                                <a href="tel:+44 730 999 79239">+44 730 999 7923</a>
                            </span>
                            <span>
                                <a href="mailto:alex@kcharles.co.uk">alex@kcharles.co.uk</a>
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="swiper-item">
                        <img src="/../assets/icons/transport-manager-2.svg" alt="transport-manager-2" decoding="async">
                        <div class="transport-manager__info">
                            <span>Transport manager</span>
                            <span>
                                <a href="tel:+44 730 999 79239">+44 730 999 7923</a>
                            </span>
                            <span>
                                <a href="mailto:alex@kcharles.co.uk">alex@kcharles.co.uk</a>
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="swiper-item">
                        <img src="/../assets/icons/transport-manager-3.svg" alt="transport-manager-3" decoding="async">
                        <div class="transport-manager__info">
                            <span>Transport manager</span>
                            <span>
                                <a href="tel:+44 730 999 79239">+44 730 999 7923</a>
                            </span>
                            <span>
                                <a href="mailto:alex@kcharles.co.uk">alex@kcharles.co.uk</a>
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="swiper-item">
                        <img src="/../assets/icons/transport-manager-4.svg" alt="transport-manager-4" decoding="async"> 
                        <div class="transport-manager__info">
                            <span>Transport manager</span>
                            <span>
                                <a href="tel:+44 730 999 79239">+44 730 999 7923</a>
                            </span>
                            <span>
                                <a href="mailto:alex@kcharles.co.uk">alex@kcharles.co.uk</a>
                            </span>
                        </div>
                    </div>
                </ng-template>    
                <ng-template swiperSlide>
                    <div class="swiper-item">
                        <img src="/../assets/icons/transport-manager-5.svg" alt="transport-manager-5" decoding="async">
                        <div class="transport-manager__info">
                            <span>Transport manager</span>
                            <span>
                                <a href="tel:+44 730 999 79239">+44 730 999 7923</a>
                            </span>
                            <span>
                                <a href="mailto:alex@kcharles.co.uk">alex@kcharles.co.uk</a>
                            </span>
                        </div>
                    </div>
                </ng-template>    
                <ng-template swiperSlide>
                    <div class="swiper-item">
                        <img src="/../assets/icons/transport-manager-6.svg" alt="transport-manager-6" decoding="async">
                        <div class="transport-manager__info">
                            <span>Transport manager</span>
                            <span>
                                <a href="tel:+44 730 999 79239">+44 730 999 7923</a>
                            </span>
                            <span>
                                <a href="mailto:alex@kcharles.co.uk">alex@kcharles.co.uk</a>
                            </span>
                        </div>
                    </div>
                </ng-template>
            </swiper>
        </div>
    </div> 

</div>
